<main>
  <div class="todos">
    <!-- Add Todo -->
    <form class="todos__form">
      <input type="text" class="todos__input" placeholder="Add a new task" />
      <button type="submit" class="todos__submit">
        <img src="/assets/plus-icon.svg" alt="Plus Icon" />
      </button>
    </form>
    <!-- /Add Todo -->

    <!-- Todo Tasks -->
    <section class="todo-tasks">
      <h2 class="todo-tasks__heading">Tasks to do - 4</h2>
      <article class="todo-tasks__task">
        <p class="todo-tasks__text">To study React fundamentals</p>
        <aside>
          <button type="button" class="todo-tasks__check">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button" class="todo-tasks__delete">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article class="todo-tasks__task">
        <p class="todo-tasks__text">To study React fundamentals</p>
        <aside>
          <button type="button" class="todo-tasks__check">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button" class="todo-tasks__delete">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article class="todo-tasks__task">
        <p class="todo-tasks__text">To study React fundamentals</p>
        <aside>
          <button type="button" class="todo-tasks__check">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button" class="todo-tasks__delete">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article class="todo-tasks__task">
        <p class="todo-tasks__text">To study React fundamentals</p>
        <aside>
          <button type="button" class="todo-tasks__check">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button" class="todo-tasks__delete">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
    </section>
    <!-- /Todo Tasks -->

    <!-- Done Tasks -->
    <section class="done-tasks">
      <h2 class="done-tasks__heading">Done - 1</h2>
      <article class="done-tasks__task">
        <p class="done-tasks__text">To study React fundamentals</p>
      </article>
    </section>
    <!-- /Done Tasks -->
  </div>
</main>
