<main>
  <div>
    <!-- Add Todo -->
    <form>
      <input type="text" name="" id="" placeholder="Add a new task" />
      <button type="submit">
        <img src="/assets/plus-icon.svg" alt="Plus Icon" />
      </button>
    </form>
    <!-- /Add Todo -->

    <!-- Todo Tasks -->
    <section>
      <h2>Tasks to do - 4</h2>
      <article>
        <p>To study React fundamentals</p>
        <aside>
          <button type="button">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article>
        <p>To study React fundamentals</p>
        <aside>
          <button type="button">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article>
        <p>To study React fundamentals</p>
        <aside>
          <button type="button">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
      <article>
        <p>To study React fundamentals</p>
        <aside>
          <button type="button">
            <img src="/assets/check-icon.svg" alt="Check Icon" />
          </button>
          <button type="button">
            <img src="/assets/trash-icon.svg" alt="Trash Icon" />
          </button>
        </aside>
      </article>
    </section>
    <!-- /Todo Tasks -->

    <!-- Done Tasks -->
    <section>
      <h2>Done - 1</h2>
      <article>
        <p>To study React fundamentals</p>
      </article>
    </section>
    <!-- /Done Tasks -->
  </div>
</main>
